* {
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background: #eee;
	font-family:sans-serif;
}

.container {
	width: 90%;
	padding: 1em;
	border: 0.3em solid #ccc;
	background: #fff;
	margin: 2em auto;
	text-align:center;
	display:table;
	.main {
		float:left;
		width:72%;
	}
	.sidebar {
		float:left;
		width:28%;
	}
}

.copyright {
	color:#aaa;
	a {
		color:#777;
	}
}	

@media( max-width:35em ) {
	.container {
		.main, .sidebar {
			width:100%;
		}
	}
}

.block-5 {
	width:100%;
	
	img {
		display:inline-block;
		width:20%;
		margin:0;
		padding:0.38em 0.5em;
	}
}

.block-5 @container (max-width:50em) and (min-width:25em) {
	img {
		width:33.33%;
	}
	img:nth-child(1),
	img:nth-child(2) {
		width:50%;
	}
}

.block-5 @container (max-width:25em) and (min-width:15em) {
	img {
		width:50%;
	}
	img:nth-child(1) {
		width:100%;
	}
}

.block-5 @container (max-width: 15em) {
	img {
		width:100%;
	}
}